#mute {
  max-width: 64px;
}

#slider {
	background: url(img/sliderback.png) no-repeat;
  background-position: center bottom;  
	background-size: 100% 20px;
	height: 20px;
}

#slider img {
	cursor: pointer;
}

.rect {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rcurve {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.rflat {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

@media not all and (max-width: 414px) {
  .subs {
    display: none;
  }
}

@media all and (max-width: 414px) {
  .subl {
    display: none;
  }
}

.dirname {
  font-weight: bold;
  word-break: break-all;
}

.dirtype {
  min-width: 120px;
  max-width: 120px;
  width: 120px;
}

@media (max-width: 660px) {
  .table th:nth-child(2),
  .table td:nth-child(2) {
    display: none;
  }
}

.dirsize {
  min-width: 100px;
  max-width: 100px;
  width: 100px;
}

.dirdate {
  min-width: 160px;
  max-width: 160px;
  width: 160px;
}

@media (max-width: 780px) {
  .table th:nth-child(4),
  .table td:nth-child(4) {
    display: none;
  }
}

.container {
  max-width: 480px;
}

.master {
  display: flex;  
  flex-wrap: wrap;
}

.hide {
  display: none;
}

.evenly {
  display: flex;
  justify-content: space-between;
}

.autow {
  width: auto;
}

table thead th {
  vertical-align: middle !important;
  align-items: center;
}